/*CONTACTO*/

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: $alineacion-texto;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

input,
textarea {
    display: block;
    width: 90%;
    padding: 5px;
    border: $color-blanco solid 3px;
    border-radius: 5px;
    margin: 10px auto;
    outline: none;
    background-color: lightgrey;
}

.botonFormularioContacto {
    border: none;
    background: linear-gradient(to left, #adfe1f, #5be35b);
    font-weight: bold;
    cursor: pointer;
}

.datosContacto {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    text-align: $alineacion-texto;
}

.bi-geo-alt-fill,
.bi-telephone-fill {
    color: $color-verdelima;
    align-self: center;
    justify-self: center;
}